<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

    <header>
        <% include ./partials/header %>
    </header>

    <main>
        <h1><%= message %></h1>
        <%= error %>
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>
    
</body>
</html>